<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:rpc.properties"/>
    
	<!-- 服务发现配置 -->
    <bean id="serviceDiscovery" class="info.coderman.rpc.registry.zookeeper.ZooKeeperServiceDiscovery">
        <!-- zookeeper 地址  127.0.0.1:2181 -->
        <constructor-arg name="zkAddress" value="${rpc.registry.address}"/>
    </bean>
	
	<!-- 客户端配置 -->
    <bean id="rpcClientProxy" class="info.coderman.rpc.transport.RpcClientProxy">
        <property name="serviceDiscovery" ref="serviceDiscovery"/>
        <property name="transportType" value="NETTY"/>   <!-- 不配置默认netty -->
        <property name="serialize" value="HESSIAN"/> <!--  不配置默认HESSIAN  配置参数 JSON,HESSIAN,PROTOSTUFF -->
    </bean>

</beans>